.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .main-content {
  margin: 30px;
  min-height: 580px;
  min-width: 600px;
}

.main-content .list {
  width: 800px;
  margin: auto;
} */
.table-component{
  margin:20px
}
.directory-main-div{
  margin:20px

}
.directory-main-div *{
  margin: 5px;
}

.pagination-component {
  /* float: left; */
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.pagination-component > div {
  /* display: inline-block; */
  /* text-align: center; */
  /* margin-left: 105px; */
}

.pagination-component .page-input {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 2px;
}

.pagination-component .pagi-btn{
  display:flex;
  align-items: center;
  justify-content: space-around;

}
.pagi-span{
  margin:0px 10px
}

