.directory-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.directory-list-item-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}
